/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

.theme-yellow {
  @apply bg-amber-50 text-amber-950 dark:bg-amber-950 dark:text-amber-50;
}

.theme-blue {
  @apply bg-sky-50 text-sky-950 dark:bg-sky-950 dark:text-sky-50 accent-orange-300;
}

.theme-green {
  @apply bg-emerald-50 text-emerald-950 dark:bg-emerald-950 dark:text-emerald-50;
}

.theme-red {
  @apply bg-rose-50 text-rose-950 dark:bg-rose-950 dark:text-rose-50;
}

.theme-standard {
  /* @apply bg-[#FEFAF6] text-[#102C57] dark:bg-[#102C57] dark:text-[#FEFAF6]; */
  @apply bg-[#FEFAF6] text-[#102C57] dark:bg-[#102C57] dark:text-[#EADBC8];
  --link-color: #f59e0b;
  --link-hover: #fde68a
}

:root {
  @apply m-0 p-0 flex transition-all duration-300 justify-center;
}

@font-face {
  font-family: "Quicksand";
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  font-family: "JetBrains Mono", monospace;
  @apply justify-center items-start p-4 w-full sm:w-4/6;
}
main {
}
h1 {
  @apply text-4xl mx-4 my-4;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
}
a:hover {
  color: var(--accent);
}
p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
